
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #001F3F; /* Dark Blue */
  --cor-secundaria: #F5F5F5; /* Light Gray */
  --cor-terciaria: #FFD700; /* Gold */
  --f1: 'Krona One', sans-serif;
  --f2: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-family: var(--f2);
}
.cabecalho{
  padding: 2% 0% 0% 15.5%;
}

.cabecalho__menu{
  display: flex;
  gap: 80px;
}
.cabecalho__menu__links{
  font-family: var(--f2);
  gap: 15px;
  font-size: 1.5rem;
  color: var(--cor-secundaria);;
  text-decoration: none;
  font-weight: 600;
}



.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:82px;

}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--f1);
}
.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--f2);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  gap: 30px;
}
.apresentacao__links__subtitulo{
  font-family: var(--f2);
  font-weight: 900;
  font-size: 1.5rem;
}
.apresentacao__botao {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 3.5px double var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--f2);
  transition: 0.3s;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.apresentacao__botao:hover{
  background-color: var(--cor-terciaria);;
  color: var(--cor-primaria);
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.2);
}

.apresentacao__imagem{
  width: 50%;
  border-radius: 16px;
}

.rodape{
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border-top: 1px solid var(--cor-terciaria);
  padding: 24px;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--f2);
  font-weight: 400;

}
@media (max-width: 1200px) {
  .apresentacao{
    padding: 5%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .cabecalho{
    padding: 10%;
  }

.cabecalho__menu{
  justify-content: center;
}
.apresentacao__conteudo{
  width: auto;
}

}